html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
}

header {
    flex: 0 1 auto;
    background-color: #2e312f;
    display: flex;
    font-family: Roboto, Arial, sans-serif;
    padding: .5rem 0;
    width: 100%;
}

header * {
    color: white;
    margin: auto 1rem;
}

header a {
    background-color: #673ab7;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    margin-left: auto;
    margin-right: 2rem;
    text-decoration: none;
    text-align: end;
}

main {
    flex: 1 1 auto;
}

#map {
    border: 0;
    height: 100%;
    width: 100%;
}
